body {
    background: #E8FBFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 1em;
    width: 100%;
    /* position: fixed; */
}

.page {
    background: #D6F8FF;
    width: 80%;
    display: inline-block;
    text-align: left;
    top: 200px;
    padding: 5px;
}

.header {
    width: 100%;
    background-color: #BBF3FF;
    text-align: left;
    text-indent: 1%;
    position: sticky;
    top: 0px;
    z-index: 10000;
}

.coronafriends {
    display: block;
    padding: 0px;
    margin: 0px;
    font-size: 3.5em;
    color: #0006DB;
    text-shadow: 2px 2px rgb(0, 2, 75);
}

.homeicon {
    font-size: 5em;
    padding: 0%;
    margin: 0%;
}

@media only screen and (max-width: 500px) {
    .coronafriends {
        font-size: 2.5em;
    }
    .homeicon {
        font-size: 3.5em;
        padding: 1px 5px;
    }
}

.profpic {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    right: 10px;
    top:10px;
    position: absolute;
}

.topbar {
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-between; */
    position: relative;
    height: 70px;
}

table, th, td {
    border: 1px solid black;
}

.navbar {
    text-align: center;
    width: 100%;
    background-color: #BBF3FF;
    border-color: transparent;
    box-shadow: none;
}

.navbar a {
    color: black;
    width: 100px;
}

@media only screen and (max-width: 500px) {
    .signin-modal {
        width: 80%;
    }
}

.signin-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    font-size: 2.5em;
    padding: 10px;
}

.post-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    font-size: 1em;
    padding: 10px;
    max-width: 500px;
    width: 100%;
}

.closemodal {
    float: right;
    background: transparent;
    border: transparent;
}

firebaseui-auth-container {
    background-color: #0006DB;
}

.posting {
    background-color: #BBF3FF;
    display: inline-block;
    margin: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    min-width: 200px;
    position: relative;
}

.postingimg {
    max-width: 35px;
    border-radius: 100%;
    position: absolute;
    /* right: 0; */
    right: 5px;
    top: 5px;
}

.postingtype {
    margin: 0px;
    font-size: large;
}

.postingtext {}

.postingtime {}

.postingaccept {
    color: black;
    background-color: #BBF3FF;
    border-color: #BBF3FF;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px;
}

.postingaccept:hover {
    background-color: rgb(169, 241, 255)
}

.postingaccept:active {
    background-color: #0006DB;
    color: #BBF3FF;
}

.category-button-container {
    position: relative;
    background-color: #BBF3FF;
    display: inline-block;
    border-radius: 2px;
    display: flex;
    margin: 10px 5vw;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    font-size: 2em;
    text-align: center;
    height: 60px;
}

.category-button {
    color: black;
    width: 100%;
    height: 100%;
}

.category-button-icon {
    position: absolute;
    right: 1px;
}

.category-button:hover {
    background-color: rgb(169, 241, 255)
}

.category-button:active {
    background-color: #0006DB;
    color: #BBF3FF;
}

.logged-out .logged-in {
    display: none;
}

.postings-page-selector-container {
    text-align: center;
    width: 100%;
    display: none;
}

.postings-page-selector {
    font-size: 1em;
}

.postings-page-selector-child {
    display: inline-block;
}

.inc-dec {
    color: black;
}